.App {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background: #d2e1cf;
  padding: 1rem;
  margin: 0;
  position: sticky;
  top: 0;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  h5 {
    text-align: right;
    margin: 0;
  }
}


.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

@media (max-width: 768px) {
  .header{
    background-color: #d0d5ff;
  }
}